<div class="form-group has-feedback" ng-class="wrong ? 'has-error' : ''">
    <label for="{{id}}" class="col-sm-2 control-label">{{label}}</label>

    <div class="col-sm-{{fieldLength}}">
        <input id="{{id}}" name="{{name}}" ng-model="$parent.ngModel" ng-if="type == 'text' || type == 'checkbox'"
               type="{{type}}" class="form-control" ng-disabled="disabled" placeholder="{{label}}"/>

        <textarea id="{{id}}" name="{{name}}" class="form-control" ng-if="type == 'textarea'"
                  ng-disabled="disabled" ng-model="$parent.ngModel" placeholder="{{label}}"></textarea>

        <div ng-transclude ng-if="type == 'custom'" style="padding-top: 7px">&nbsp;</div>

        <select id="{{id}}" name="{{name}}" class="form-control"  ng-if="type === 'select'"
                ng-model="$parent.ngModel" ng-disabled="disabled">

            <option value="{{printValue(option)}}" ng-repeat="option in options">{{printName(option)}}</option>
        </select>
    </div>
</div>