<form role="form" class="form-horizontal">
    <input type="hidden" name="id" value="{{id}}" />

    <div ng-transclude></div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button ng-click="save()" class="btn btn-primary" ng-show="saveSet"><i class="fa fa-floppy-o"></i> {{'action.save' | i18n}}</button>
            <a href="#{{cancel}}" class="btn btn-link cancel" ng-show="cancel"><i class="fa fa-times"></i> {{'action.cancel' | i18n}}</a>
        </div>
    </div>
</form>
